<div class="page-wrapper">
  <div class="profile-background-color">
      <div class="profile-avatar">
         <% if @user.photo? %>
        <%= cl_image_tag @user.photo.path, width: 227, height: 225, crop: :fill %>
        <% end %>
      </div>
  </div>


  <div class="container-fluid">
    <%= render "shared/nameuser" %>
    <%= @user.email %>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </div>

</div>

