<div class="page-wrapper">
  <div class="container">
    <%= render "shared/nameuser" %>

    <% if @user.photo? %>
    <%= cl_image_tag @user.photo.path, width: 600, height: 400, crop: :fill %>
    <% end %>
    <%= @user.email %>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </div>

</div>

