<div class="page-wrapper">
  <!-- grey background -->
  <div class="profile-background-color">
  </div>

  <div class="container profile-min-height">
    <!-- user profile and edit button -->
    <div class="profile-show-header">
      <div class="profile-show-img-yes facebook-avatar-background profile-avatar-lg" style="background-image: url(' <%= user_avatar(current_user) %>')">
      </div>
      <% if current_user.first_name? %>
        <h3><%= current_user.first_name %>'s User Profile</h3>
      <% else %>
        <h3>User Profile</h3>
      <% end %>
      <%= link_to "Edit", edit_profile_path, class:"button-grey"%>
    </div>

    <div class="profile-show-body">
      <!-- TABS -->
      <div class="tabs profile-tabs">
        <a class="tab active profile-supported-tab" data-target="#supported_popups">
          <h4>PopUps you supported</h4>
        </a>
        <a class="tab profile-created-tab" data-target="#created_popups">
          <h4>Your PopUps</h4>
        </a>
        <a class="tab profile-wishlist-tab" data-target="#wishlist">
          <h4>Wishlist</h4>
        </a>
      </div>
      <!-- CONTENT -->
      <div class="profile-tab-content">
        <div class="tab-content profile-supported" id="supported_popups">
         <%= render "show_profile_supported" %>
        </div>

        <div class="tab-content hidden profile-created" id="created_popups">
          <%= render "show_profile_created" %>
        </div>

        <div class="tab-content hidden profile-wishlist" id="wishlist">
          <%= render "show_profile_wishlist" %>
        </div>
      </div>


    </div>
  </div>


</div>
