<div class="page-wrapper">
  <%= render 'shared/banner' %>
  <div class="container">

    <h3 class="padding-top" id="trending_popups" data-prev='#button10'>Explore live popups</h3>
    <div class="cards-container padding-top" >
      <div class="row">
        <% @popups.each do |popup| %>

        <div class="col-xs-12 col-sm-6 col-lg-4 margin-bottom">
          <div class="card-container" id="popup-<%= popup.id %>">
            <%= link_to popup_path(popup), class: "card-link" do %>
            <div class="card-img" style="background-image: url('<%= cl_image_path popup.photos.first.path, width: 300, height: 200 %>');">
            </div>

            <div class="card-desc">
              <h4><%= popup.title %></h4>
              <% if popup.description %>
              <p class="description-text"><%= popup.description[0..100] + "..."%></p>
              <% end %>
              <div class="card-byline">

                <div class= "facebook-avatar-background card-avatar" style="background-image: url('<%= user_avatar(popup.user) %>')"></div>

                <p>by <%= popup.user.first_name %></p>
              </div>

              <div class="like-wishlist-icons">
                <div class="wishlist">
                  <%= simple_form_for([popup, @wishlist], remote: true) do |f|  %>
                  <%= button_tag type: 'submit', class: "button postfix" do %>
                  <div class="heart"></div>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="progress">
              <div class="progress-bar" style="width: <%= popup.amount_pledged.to_f / popup.funding_goal.to_f * 100 %>%;">
                <span class="sr-only"><%= popup.amount_pledged.to_f / popup.funding_goal.to_f * 100 %>% Complete</span>
              </div>
            </div>
            <div class="card-stats">
            <% if popup.amount_pledged %>
              <p>€ <%= popup.amount_pledged.to_s(:delimited) %> pledged</p>
              <% else %>
              <p>€ 0 pledged - Be the first to donate!</p>
            <% end %>

              <p>€ <%= humanized_money(popup.price) %> per seat </p>
              <div class="days">
                <% start_time = popup.deadline %>
                <% end_time = Date.today %>
                <% if (start_time - end_time).to_i <= 1 %>
                  <p><%= (start_time - end_time).to_i %> day to go</p>
                  <% else %>
                  <p><%= (start_time - end_time).to_i %> days to go</p>
                <% end %>
              </div>
              <!-- percentage funded -->
              <!-- days to go -->
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


















