<div class="page-wrapper">
  <%= render 'shared/banner' %>
  <div class="container">
    <h3 class="padding-top" id="trending_popups" data-prev='#button1'>Explore # live projects</h3>
    <div class="cards-container padding-top" >
      <div class="row">
        <% @popups.each do |popup| %>
        <div class="card-container">
          <div class="col-xs-12 col-sm-6 col-lg-4 margin-bottom">
            <%= link_to "", popup_path(popup), class: "card-link" %>
            <div class="card-img" style="background-image: url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
            </div>
            <div class="card-desc">
              <h4><%= popup.title %></h4>
              <p><%= popup.description %></p>
              <p> <img src='https://kitt.lewagon.com/placeholder/users/ssaunier' class="card-avatar"/> by <%= popup.user.first_name %></p>
            </div>
            <div class="card-stats">
              <%= popup.amount_pledged %>
              <!-- percentage funded -->
              <!-- days to go -->
            </div>
            <div class="wishlist">
              <%= simple_form_for([popup, @wishlist]) do |f|  %>
              <%= f.submit :Wishlist, {class: "wishlist_button"} %>
              <% end %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



