<<<<<<< HEAD
<div class="page-wrapper">
  <%= render 'shared/banner' %>
  <div class="container">
    <h3>Explore # live projects</h3>
    <div class="homepage-cards">
      <div class="container">
        <div class="row">
          <div class="card-container">
            <% @popups.each do |popup| %>
            <div class="col-sm-12 col-lg-4">
              <div class="card-container">
                <%= link_to "", popup_path(popup), class: "card-link" %>
                <div class="card" style="background-image: url('<%= !popup.photos.empty? ? cl_image_path(popup.photos.first.path, width: 350, height: 200, crop: :fill, class: "background-image") : "" ; %>')">
                  <div class="card-description">
                    <%= popup.category %>
                    <%= popup.name %>
                    <%= popup.description %>
                    <%= popup.chef %>
                    <div class="card-stats">
                      <%= popup.amount-pledged %>
                      <!-- percentage funded -->
                      <!-- days to go -->
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
