<div class="page-wrapper">
  <%= render 'shared/banner' %>
  <div class="container">
    <h3>Explore # live projects</h3>
    <div class="homepage-cards">
      <div class="container">
        <div class="row">
          <div class="card-container" id="trending_popups" data-prev='#button1'>
            <% @popups.each do |popup| %>
            <div class="col-sm-12 col-lg-4">
              <div class="card-container">
                <%= link_to "", popup_path(popup), class: "card-link" %>

                <div class="card-description">
                  <%= popup.category %>
                  <%= popup.title %>
                  <%= popup.description %>
                  <%= popup.user.first_name %>
                  <div class="card-stats">
                    <%= popup.amount_pledged %>

                  <%= simple_form_for([popup, @wishlist]) do |f|  %>
                  <%= f.submit :Wishlist, {class: "wishlist_button"} %>
                  <% end %>

                   <!-- percentage funded -->
                   <!-- days to go -->
                 </div>
               </div>
             </div>
           </div>
           <% end %>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>


