<div class="page-wrapper">
 <!-- HEADER -->
 <div class="row">
   <div class="header text-center padding-top">
    <!-- TABS -->
    <div class="tabs" >
      <a class="tab active" id="basic">
        <h3>Basic</h3>
      </a>
      <a class="tab" id="story">
        <h3>Story</h3>
      </a>
      <a class="tab" id="seats">
        <h3>Seats</h3>
      </a>
   <!--  <a class="tab" id="about-you">
      <h3>About You</h3>
    </a>
    <a class="tab" id="account">
      <h3>Account</h3>
    </a> -->
    <!-- <a class="tab" id="preview">
      <h3>Preview</h3>
    </a> -->
    <a class="tab" id="create_popup">
      <h3>Submit</h3>
    </a>
  </div>
</div>
</div>


<!-- CONTENT -->
<%= simple_form_for @popup do |f| %>
<div class="container text-center questions-container">

  <div class="question-container" >
    <div class="question-content">
      <h2>Let’s get started</h2>
      <p>Make a great impression by including a photo that shows off your best chef skills.</p>
      <div class="form-content" id='next1' data-next='#next2'>
        <%= f.input :title%>
        <%= f.input :photos, required: true, as: :attachinary, input_html: { multiple: true } %>
      </div>
      <div class='btn btn-success next-button'>
        <a href='#next2' id="button1" >Next</a>
      </div>
    </div>
  </div>


  <div class="question-container" >
    <h2>Tell us about your popup</h2>
    <p>Share why you're an aspiring chef and the vision behind your first restaurant. Get people excited about your popup!</p>
    <div class="form-content description-content" id='next2' data-prev='#next1' data-next='#next3'>
      <%= f.input :description %>
    </div>
    <div class='btn btn-success next-button'>
      <a href='#next3' id="button2" >Next</a>
    </div>
  </div>



  <div class="question-container" id='next3' data-prev='#next2' data-next='#create_popup'>
    <h2>Now to the numbers</h2>
    <p>Set your funding goal, the price for guests to save a seat at your popup experience, and a deadline to make it all happen. </p>
    <div class="numbers-content">
    <%= f.input :deadline, as: :string, label: "Deadline", input_html: { class: "datepicker", value: Time.now.strftime('%m/%d/%Y') } %>
    <%= f.input :funding_goal, as: :currency, placeholder: "0", label: "Funding goal" %>
    <%= f.input :price, as: :currency, placeholder: "0", label: "Price per seat" %>
    </div>
    <div class='btn btn-success next-button'>
      <a href='#submit' id="button3" >Next</a>
    </div>
  </div>

  <!-- DO WE NEED -->
 <!--  <div class="question-container" id="about-you">
    <h2>Share more about yourself.</h2>
    <p>If you want to include more information about yourself, share a website URL where foodies can learn more about your popup idea. </p>
    <div class="form-content">
      <div class="row">
        <div class="col-xs-12 col-sm-10">
          [INSERT LINE FOR FORM INPUT URL]
        </div>
      </div>
    </div>
    <div class='btn btn-success'>
      <a href='#next5' id="button4" >Next</a>
    </div>
  </div> -->

  <!-- WAITING TIL WE HAVE STRIPE -->
<!--   <div class="question-container" id="account">
    <h2>Confirm your contact details and link a bank account.</h2>
    <p>Provide details about where funds should be sent once you've achieved your funding goal.</p>
    <p>(Stripe)</p>
    <div class='btn btn-success'>
      <a href='#next6' id="button5" >Next</a>
    </div>
  </div> -->

  <!-- PREVIEW - TBD -->
  <!-- <div class="question-container" id="preview">
    <h2>popup.title</h2>
  </div>
-->

<div class="question-container" id="submit">
  <h2>You're all set to launch!</h2>
  <div class="form-content" id='create_popup' data-prev='#next3'>
    <br>
    <%= f.button :submit, "Start funding your popup", class: "btn-success" %>
  </div>
</div>
</div>
<% end %>


<% content_for :after_js do %>
<script>
  $(document).ready(function() {


    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollLeft: target.offset().left
            }, 500);
            return false;
          }
        }
      });

      $('.button1').attr('disabled', true);
      $('#popup_funding_goal').keyup(function () {
        var disable = false;
        $('#popup_funding_goal').each(function(){
          if($(this).val()==""){
            disable = true;
          }
        });
        $('.button1').prop('disabled', disable);
      });


      $('#button1').click(function () {
        $('input:text').text($('#basic').val());
      });

      $('#button2').click(function () {
        $('input:text').text($('#story').val());
      });

      $('#button3').click(function () {
        $('input:text').text($('#seats').val());
      });

      var executed = false;
      $('.edit-page').bind('mousewheel', function(e) {
        console.log(e)
        if (!executed) {
          executed = true;
          var delta = e.originalEvent.wheelDelta;
          if(delta < 0) {
            if($(this).data('next')) {
              $('html, body').animate({
                scrollLeft: $($(this).data('next')).offset().left
              }, 500);
            }
          } else if (delta > 0) {
            if($(this).data('prev')) {
              $('html, body').animate({
                scrollLeft: $($(this).data('prev')).offset().left
              }, 500);
            }

          }


          setTimeout(function() {
            executed = false
          }, 1000)
        };
      });

      $('.edit-page input').on('keydown', function(e) {
        if(e.keyCode == 13) {
          e.preventDefault();
          $(this).parent().parent().parent().find('a').click()
        }
      })
    });
  });


  $('#button1').click(function() {

   $('#basic').removeClass('active');
   $('#story').addClass('active');

 });

  $('#button2').click(function() {

   $('#story').removeClass('active');
   $('#seats').addClass('active');

 });

  $('#button3').click(function() {

   $('#seats').removeClass('active');
   $('#create_popup').addClass('active');

 });
</script>
<% end %>

