<div class="page-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1">
        <h2 class= "text-center">Get Started</h2>
        <%= simple_form_for @popup do |f| %>
        <h4><%= f.input :title, placeholder: "It all starts with a great name...", label: "Name your popup:" %></h4>
        <div class="form-group">
          <h4><label class="control-label check_boxes optional">  Pick your type of cuisine: </label></h4>
          <input type="hidden" name="popup[type_ids][]" value="">
          <div class="category-choices">
            <% Type.all.each do |type| %>
            <input type="checkbox" class="hidden" value="<%= type.id %>" name="popup[type_ids][]" id="popup_type_ids_<%= type.id %>">
            <label class="category-choice" for="popup_type_ids_<%= type.id %>">
              <%= type.name %>
              <!-- <i class="fa fa-check"></i> -->
            </label>
            <% end %>
          </div>
        </div>
        <div class="text-center">
          <%= f.button :submit, "Create popup", class: "btn-lg btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



