<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@popup.title} is now fundraising on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @popup.description %>
<% content_for :meta_image, cloudinary_url(@popup.photos.first.path) %>

<div class="page-wrapper">
  <div class="container">
    <div class="padding-top margin-bottom">
      <div class="row text-center">
        <div class="col-lg-8">
          <h1><%= @popup.title %></h1>
          <div class="wrapper">
            <% if policy(@popup).edit? %>
            <%= link_to "Edit", edit_popup_path(@popup), class: "button-yellow-edit"  %>
            <% end %>
            <% if policy(@popup).edit? %>
            <%= link_to "Delete", popup_path(@popup), method: :delete, class: "button-red-delete",
            data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-4 text-center">
          <div class= "facebook-avatar-background header-avatar" style="background-image: url('<%= user_avatar(@popup.user) %>')"></div>
          <p> by <strong><%= @popup.user.first_name %></strong> </p>

        </div>
      </div>
    </div>
    <div class="row margin-bottom">

      <div class="col-lg-8">
        <% if @popup.photos.empty? %>
          <div class="card-img" style="background-image: url('https://cdn.eyeem.com/thumb/b19faf4b8314865df63178c4e07a708a4b39c7d5-1473234719053/w/900'); width: auto; min-height: 450px;"></div>
        <% else %>
          <div class="card-img" style="background-image: url('<%= cl_image_path @popup.photos.first.path %>'); width: auto; min-height: 450px;"></div>
        <% end %>
      </div>

      <div class="col-lg-4">
        <div class="show-stats">

          <div class="flex">
            <div class="progress">
              <div class="progress-bar" style="width: <%= @popup.amount_pledged.to_f / @popup.funding_goal.to_f * 100 %>%;">
                <span class="sr-only"><%= @popup.amount_pledged.to_f / @popup.funding_goal.to_f * 100 %>% Complete</span>
              </div>
            </div>
            <div class="stats-div amount">
              <% if @popup.amount_pledged %>
                <h4>€ <%= @popup.amount_pledged.to_s(:delimited) %></h4>
              <% else %>
                <h4> € 0</h4>
              <% end %>
              <% if @popup.funding_goal %>
                <p>pledged of € <%= @popup.funding_goal.to_s(:delimited) %> goal</p>
              <% end %>
            </div>
            <div class="stats-div">
              <h4><%= @popup.orders.where(state:"paid").count %></h4>
              <p>foodies have booked seats</p>
            </div>
            <div class="stats-div">
              <% end_time = @popup.deadline %>
              <% start_time = Date.today %>
              <% if @popup.deadline %>
                <h4><%= (end_time - start_time).to_i %></h4>
              <% end %>
              <p>days to go</p>
            </div>
          </div>

          <!-- Big Support this popup button -->
          <div class="support-button">
            <%= link_to "Support this popup", new_popup_order_path(@popup), class: "button-brand-blue-big" %>
          </div>

          <!-- Big like button (still needed) -->
          <div class="animation-button">

            <!-- Button HTML (to Trigger Modal) -->
            <a href="#myModal" role="button" class="button-brand-blue-big col-xs-5" data-target="#myModal" data-toggle="modal">
              <i class="fa fa-share fa-lg" aria-hidden="true"></i>
            </a>

            <!-- Modal HTML -->
            <div id="myModal" class="modal fade col-xs-12 col-sm-offset-3 col-sm-6">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Tell others about</h4>
                    <h4 class="modal-title"><strong><%= @popup.title %></strong></h4>
                  </div>
                  <div class="modal-body">

                    <div id="share-buttons">
                    <div class="cs-share-this-product facebook">
                    <a href="http://www.facebook.com/sharer.php?s=100&p[url]=<%= URI.encode(popup_url(@popup)) %>"
                      target="_blank">
                      <span class="social-share-icon-block">
                        <i class="fa fa-facebook"></i>
                        <span class="share-text">Share</span>
                      </span>
                    </a>
                    </div>
                    <div class="cs-share-this-product twitter">
                    <a href="https://twitter.com/intent/tweet?url=<%= URI.encode(popup_url(@popup)) %>&via=EatUpPopUp&text=Hey%2C%20I%27m%20raising%20funds%20for%20my%20popup&hashtags=popup%2C%20foodie%2C%20amateurchef" target="_blank">
                      <span class="social-share-icon-block">
                        <i class="fa fa-twitter"></i>
                        <span class="share-text">Tweet</span>
                      </span>
                    </a>
                    </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>

          <!-- Heart button (still needed) -->
            <div class="col-xs-6">
              <%= simple_form_for([@popup, @wishlist], remote: true) do |f|  %>
              <%= button_tag type: 'submit' do %>
              <div class="heart"></div>
              <% end %>
              <% end %>
            </div>


          </div>


        </div>
      </div>

    </div>

    <!-- TABS -->
    <div class="show-wrapper">
      <div class="tabs">
        <a class="tab active" data-target="#campaign">
          <h3>Campaign</h3>
        </a>
        <a class="tab" data-target="#comments">
          <h3>Comments</h3>
        </a>
      </div>

      <!-- CONTENT -->
      <div class="container margin-bottom">
        <div class="tab-content" id="campaign">
          <div class="text-center">
            <h2>About this Popup</h2>
          </div>
          <%= render "popup-description" %>
        </div>

        <div class="tab-content hidden" id="comments">
          <div class="text-center">
            <h2>Share your thoughts with the chef</h2>
          </div>
          <div id="disqus_thread"></div>
          <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://eatupclub.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




        </div>
      </div>
    </div>
  </div>
</div>



