<div class="page-wrapper">
  <div class="container">
    <div class="padding-top margin-bottom">
      <div class="row">
        <div class="col-lg-2 ">
          <% if @popup.user.photo %>
          <p> <%= cl_image_tag @popup.user.photo.path, class: "header-avatar"%></p>
          <% end %>
          <p> by <strong><%= @popup.user.first_name %></strong> </p>
        </div>
        <div class="col-lg-8">
          <h1><%= @popup.title %></h1>
        </div>
        <div class="col-lg-2">
          <div class="wrapper">
            <% if policy(@popup).edit? %>
            <%= link_to "Edit", edit_popup_path(@popup) %>
            <% end %>
          </div>
          <div class="wrapper">
            <% if policy(@popup).edit? %>
            <%= link_to "delete", popup_path(@popup), method: :delete,
            data: { confirm: "Are you sure?" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="row margin-bottom">

      <div class="col-lg-8">
        <!-- Background image (needs fix) -->
        <div class="card-img" style="background-image: url('<%= cl_image_path @popup.photos.first.path %>'); width: auto; min-height: 450px;">
        </div>
      </div>

      <div class="col-lg-4">
        <div class="show-stats">

          <div class="flex">
            <div class="progress">
              <div class="progress-bar" style="width: <%= @popup.amount_pledged.to_f / @popup.funding_goal.to_f * 1000 %>%;">
                <span class="sr-only"><%= @popup.amount_pledged.to_f / @popup.funding_goal.to_f * 1000 %>% Complete</span>
              </div>
            </div>
            <div class="stats-div amount">
              <% if @popup.amount_pledged %>
              <h4>€ <%= @popup.amount_pledged.to_s(:delimited) %></h4>
              <% else %>
              <h4> € 0</h4>
              <% end %>
              <p>pledged of € <%= @popup.funding_goal.to_s(:delimited) %> goal</p>
            </div>
            <div class="stats-div">
              <h4><%= @popup.orders.count %></h4>
              <p>Foodies</p>
            </div>
            <div class="stats-div">
              <% start_time = @popup.deadline %>
              <% end_time = Date.today %>
              <% if @popup.deadline %>
              <h4><%= (start_time - end_time).to_i %></h4>
              <% end %>
              <p>days to go</p>
            </div>
          </div>

          <!-- Big Support this popup button -->
          <div class="support-button">
            <%= link_to "Support this popup", new_popup_order_path(@popup), class: "button-brand-blue-big" %>
          </div>

          <!-- Big like button (still needed) -->
          <div class="animation-button">
            <div class="col-xs-5">

              <%= link_to like_popup_path(@popup), class: "like-btn", method: :put, remote: :true do %>
              <span class="likes-count"> <%= @popup.get_upvotes.size %></span>
              <span><i class="fa fa-thumbs-up fa-1x"></i></span>
              <% end %>

            </div>

            <!-- Heart button (still needed) -->

            <div class="col-xs-6">
              <%= simple_form_for([@popup, @wishlist], remote: true) do |f|  %>
              <%= button_tag type: 'submit' do %>
              <div class="heart"></div>
              <p>Wish List</p>
              <% end %>
              <% end %>
            </div>

            <!-- Put on new order page -->
            <%= form_tag orders_path do %>
            <%= hidden_field_tag 'popup_id', @popup.id %>
            <% end %>


          </div>

        </div>
      </div>

    </div>

    <!-- TABS -->
    <div class="show-wrapper">
      <div class="tabs">
        <a class="tab active" data-target="#campaign">
          <h3>Campaign</h3>
        </a>
        <a class="tab" data-target="#comments">
          <h3>Comments</h3>
        </a>
      </div>

      <!-- CONTENT -->
      <div class="container margin-bottom">
        <div class="tab-content" id="campaign">
          <div class="text-center">
            <h2>About this Popup</h2>
          </div>
          <%= render "popup-description" %>
        </div>

        <div class="tab-content hidden" id="comments">
          <div class="text-center">
            <h2>Share your thoughts with the chef</h2>
          </div>
          <div id="disqus_thread"></div>
          <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://eatupclub.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>




        </div>
      </div>
    </div>
  </div>
</div>



